<div class="container" style="text-align:left">
    <div class="spacing-25"></div>
    <h1>market</h1>
    <p ng-click="bid()">+ bid</p>
    <h2>filter</h2>
    <form>
        <input style="float:left;width:25%" type="text" placeholder="Token" class="form-control" ng-model="newLookup.tokenIdentifier">
        <button class="float:left" ng-click="tokenLookup()"><span class="fa fa-search"></span></button>
    </form>
    <div class="spacing-25"></div>
    <div class="col-md-6">
        <div ng-repeat="post in [1,2,3,4,5,6,7,8]">
            <h2 class="posted-title">1 token[{{post}}]</h2>
        </div>
    </div>
    <div class="col-md-6">
        <div ng-repeat="post in [1,2,3,4,5,6,7,8]">
            <h2 class="posted-title">{{(1/post).toFixed(2)}} cre8coin</h2>
        </div>
    </div>
</div>