<div class="row">
  <div class="spacing-25"></div>
	<h2 class="text-center" style="margin:10px;font-weight:bold">Analytics</h2>
</div>
<div class="spacing-25"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="campaign-graph-filter">
		        <md-datepicker ng-model="startDateMin" md-placeholder="Start date" md-min-date="startDate" md-max-date="endDate"></md-datepicker>
		        <md-datepicker ng-model="endDateMax" md-placeholder="End date" md-min-date="startDate" md-max-date="endDate"></md-datepicker>
		    </div>
			<canvas id="line" class="chart chart-line" style="padding:15px" chart-data="videoData"
			    chart-labels="videoLabels" chart-legend="true" chart-series="videoSeries"
			    chart-click="onClick">
			</canvas> 
		</div>
	</div>
</div>
<div class="container">
	<div class="spacing-25"></div>
	<div class="row">
		<div class="col-md-6">
			<md-card>
				<md-card-content>
				  <p><b>Videos</b></p>
				  <div class="spacing-15"></div>
				  <md-content layout="row" layout-fill>
				  	<div flex="60"><p><b>Name</b></p></div>
				  	<div flex="20"><p><md-icon>remove_red_eye</md-icon></p></div>
				  	<div flex="20"><p><md-icon>mouse</md-icon></p></div>
				  </md-content>
				  <md-divider></md-divider>
				  <md-content ng-repeat="video in videos" layout="row" layout-fill>
					<div flex="60"><a href="dashboard/video/{{video.id}}">{{video.title}}</a></div>
				  	<div flex="20"><p>{{video.views.length}}</p></div>
				  	<div flex="20"><p>{{video.clicks.length}}</p></div>
				  </md-content>
				</md-card-content>
			</md-card>
		</div>
		<div class="col-md-6">
			<md-card>
				<md-card-content>
					<p><b>Active Campaigns</b></p>
					<div class="spacing-15"></div>
					<md-content layout="row" layout-fill>
				  	<div flex="60"><p><b>Name</b></p></div>
				  	<div flex="20"><p><md-icon>remove_red_eye</md-icon></p></div>
				  	<div flex="20"><p><md-icon>mouse</md-icon></p></div>
				  </md-content>
				  <md-divider></md-divider>
				  <md-content ng-repeat="campaign in campaigns" layout="row" layout-fill>
					<div flex="60"><a href="dashboard/campaign/{{campaign.id}}">{{campaign.title}}</a></div>
				  	<div flex="20"><p>0</p></div>
				  	<div flex="20"><p>0</p></div>
				  </md-content>
				</md-card-content>
			</md-card>
		</div>
		<!--
		<div class="col-md-4">
				<md-card>
					<md-card-content>
						<p><b>Accomplishments</b></p>
						<div class="spacing-15"></div>
						<p><md-icon>lock_open</md-icon><span class="pull-right">You did a thing!</span></p>
						<p><md-icon>lightbulb_outline</md-icon><span class="pull-right">You did a different thing!</span></p>
						<p><md-icon>cake</md-icon><span class="pull-right">Happy 1 year</span></p>
					</md-card-content>
				</md-card>
		</div>
		-->
	</div>
	<div class="spacing-25"></div>
	<div class="row">
		<div class="col-md-12">
			<md-card>
				<md-card-content>
					<p><b>Weekly Statistics</b></p>
					<div class="spacing-15"></div>
					<p><b>Clicks</b><span class="pull-right">12345</span></p>
					<md-divider></md-divider>
					<p><b>Click-Through Rate</b><span class="pull-right">0.321</span></p>
					<md-divider></md-divider>
					<p><b>Expenditure</b><span class="pull-right">5$</span></p>
					<md-divider></md-divider>
					<p><b>Top campaign</b></p>
					<!--<p>Campaign name here</p>-->
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="spacing-25"></div>
	<div class="row">	
		<div class="col-md-12">
			<md-card>
				<md-card-content>
					<p><b>Cumulative Statistics</b></p>
	    			<div class="spacing-15"></div>
					<p><b>Views</b><span class="pull-right">1234</span></p>
					<md-divider></md-divider>
					<p><b>Clicks</b><span class="pull-right">431</span></p>
					<md-divider></md-divider>
					<p><b>Click-Through Rate</b><span class="pull-right">5</span></p>
					<md-divider></md-divider>
					<p><b>Expenditure</b><span class="pull-right">6</span></p>
					<md-divider></md-divider>
					<p><b>Campaigns</b><span class="pull-right">8</span></p>
				</md-card-content>
			</md-card>
		</div>
		<!--
		<div class="col-md-6">
			<md-card>
				<md-card-content>
					<p><b>Activity Log</b></p>
	    			<div class="spacing-15"></div>
					<p><b>3/5/16</b><span class="pull-right">You did a thing</span></p>
					<md-divider></md-divider>
					<p><b>3/4/16</b><span class="pull-right">You did a different thing</span></p>
					<md-divider></md-divider>
					<p><b>3/2/16</b><span class="pull-right">You did also did this thing</span></p>
					<md-divider></md-divider>
					<p><b>2/25/16</b><span class="pull-right">You did a thing</span></p>
					<md-divider></md-divider>
					<p><b>2/22/16</b><span class="pull-right">You did something</span></p>
					<md-divider></md-divider>
					<p><b>2/15/16</b><span class="pull-right">You keep on doing things</span></p>
					<md-divider></md-divider>
					<p><b>2/15/16</b><span class="pull-right">You did a thing</span></p>
				</md-card-content>
			</md-card>
		</div>
		-->
	</div>
	<div class="spacing-25"></div>
</div>