<md-content layout-padding>
  	<md-button ng-click="addCampaign()">
			<md-icon>add</md-icon>
			&nbsp;Add campaign
  	</md-button>
	
	<md-list style="text-align:left">
		<div class="container">			
			<div ng-repeat="campaign in campaigns" style="text-align:left;margin-bottom:50px;">
				<div class="col-md-12">			
						<a ui-sref="campaign.about({path: campaign.urlTitle})" class="md-primary">{{campaign.title}}</a>
						{{campaign.createdAt | date : "short"}}
						{{campaign.updatedAt | date : "short"}}
						<a ui-sref="dashboard.campaignEdit({id: campaign.id})"><md-icon>mode_edit</md-icon></a>
						<md-button class="md-icon-button" ng-click="delete(user.id)"><md-icon>delete</md-icon></md-button>
					<hr>
				</div>
			</div>
		</div>
	</md-list>
</md-content>
