<style type="text/css">
	
	@keyframes fadeOut {
		0% {opacity: 1.0;}
		100% {opacity: 0;}
	}

	.edit-btn{
		position: absolute;
		left: 15px;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.edit-container:hover .edit-btn{
		opacity: 1.0;
	}

	.edit-container{
		position: relative;
	}

</style>

<md-content layout-padding>
	<p class="text-left"><a ui-sref="dashboard.campaigns"><md-icon>chevron_left</md-icon>&nbsp;Back to campaigns</a></p>
  <div class="dashboard-title">
    <h1>{{campaign.title}}</h1>
  </div>

	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab ng-if="campaign.published" label="Overview">
		  <md-content layout-padding layout-wrap layout="row">
		  	<div flex="100">
		  		<img src="http://placehold.it/1000x300?text=Some%20Graph" style="width:100%" alt="">
		  	</div>
		  	<div flex="30">
		  		<h2>Finance</h2>
			  	<hr>
			  	<p><b>Price per click</b>&nbsp;${{ campaign.price | number: 2 }}</p>
			  	<p><b>Total clicks</b>&nbsp;{{ totalClicks }}</p>
					<p><b>Total payment</b>&nbsp;${{ totalClicks * campaign.price | number: 2 }}</p>
					<p ng-show="campaign.maxContributionPerVideo"><b>Max Contribution per Video</b>&nbsp;${{ campaign.maxContributionPerVideo | number : 2 }}</p>
					<p ng-show="campaign.contributionGoal"><b>Max Contribution per Video</b>&nbsp;${{ campaign.contributionGoal | number: 2 }}</p>
		  	</div>
		  	<div flex="70">
			  	<h2>Performance</h2>
					<hr>
					<p><b>Top video (by clicks)</b>&nbsp;{{ topClicks.title }}&nbsp;({{ topClicks.clickCount }} clicks)<br></p>
					<p><b>Top video (by views)</b>&nbsp;{{ topViews.title }}&nbsp;({{ topClicks.clickCount }} views)<br></p>
					<p><b>Top video (by conversion ratio)</b>&nbsp;{{ topConversion.title }}&nbsp;({{ (topConversion.clickCount / topConversion.viewCount) * 100 | number : 2 }}&nbsp;%)</p>
					<p><b>Total clicks</b>&nbsp;{{ totalClicks }}<br></p>
					<p><b>Total views</b>&nbsp;{{ totalViews }}<br></p>
					<p><b>Average conversion ratio</b>&nbsp;{{ (totalClicks / totalViews) * 100 | number : 2 }}&nbsp;%<br></p>
					
		  	</div>
		  </md-content>
		</md-tab>
	  <md-tab label="Landing Page">
	    <md-content layout-paddings style="padding-bottom:100px">
	    	<div>
	    		<md-input-container>
	    			<md-switch ng-model="campaign.doesRedirect" aria-label="3rd party landing page switch">
	    			  Redirect to 3rd party landing page?
	    			</md-switch>
	    		</md-input-container><br>
	    		<md-input-container>
	    			<label>Redirect URL</label>
	    			<input ng-disabled="!campaign.doesRedirect" type="text" ng-model="campaign.redirectUrl">
	    		</md-input-container>
	    		<md-button ng-disabled="!campaign.doesRedirect" ng-click="submitUrl()"><md-icon>check</md-icon>Submit<span>&nbsp;<i class="fa fa-spin fa-spinner"></i></span></md-button>
	    	</div>
	    	<hr>
	    	<h3><b>Or host with Bidio? (free)</b></h3>
	    	<div style="position:relative">
	    		<div class="cover-all" ng-show="campaign.doesRedirect"></div>
		    	<p class="edit-prompt"><b>Mouse over content to edit</b></p>
		    	<hr>
		    	<p><b>Click through prompt</b></p>
		    	<div ng-show="!editingPrompt" style="padding:40px 0" class="edit-container">
		    		<div class="edit-btn"><md-button ng-click="editPromptToggle()" class="md-fab md-mini"><md-icon>edit</md-icon></md-button></div>
		    		<p>{{campaign.prompt}}</p>
		    	</div>
		    	<div ng-show="editingPrompt">
		    		<md-input-container layout-fill>
		    			<textarea aria-label="Campaign prompt" rows="10" ng-model="campaign.prompt"></textarea>
		    		</md-input-container>
		    		<md-progress-circular ng-show="promptSaving" md-mode="indeterminate"></md-progress-circular>
		    		<md-button ng-disabled="promptSaving" ng-click="promptSave()">Save</md-button>
		    		<md-button ng-disabled="promptSaving" ng-click="promptUndo()">Undo</md-button>
		    	</div>
		    	<p><b>Landing Page Banner</b></p>
					<div class="edit-container">
						<div class="edit-btn"><md-button  ng-click="getImage()" class="md-fab md-mini"><md-icon>edit</md-icon></md-button></div>
						<img style="width:100%" ng-src="{{campaign.bannerUrl}}">
					</div>
					<p><b>Landing Page Text</b></p>
		    	<div ng-show="!editingLanding" class="edit-container">
		    		<div class="edit-btn"><md-button ng-click="editLandingToggle()" class="md-fab md-mini"><md-icon>edit</md-icon></md-button></div>
		    		<p>{{campaign.campaignContent}}</p>
		    	</div>
		    	<div ng-show="editingLanding">
		    		<md-input-container layout-fill>
		    			<textarea aria-label="Campaign Content" rows="10" ng-model="campaign.campaignContent"></textarea>
		    		</md-input-container>
		    		<md-progress-circular ng-show="saving" md-mode="indeterminate"></md-progress-circular>
		    		<md-button ng-disabled="saving" ng-click="landingSave()">Save</md-button>
		    		<md-button ng-disabled="saving" ng-click="landingUndo()">Undo</md-button>
		    	</div>
	    	</div>	
	  	</md-content>
	  </md-tab>
		<md-tab label="Information">
	    <md-content layout-padding style="padding-bottom:100px">
	    	<p class="edit-prompt"><b>Mouse over content to edit</b></p>
	    	<hr>
	    	<p><b>About Video</b></p>
	    	<div class="video-container edit-container">
	    		<div class="edit-btn"><md-button  ng-click="getVideo()" class="md-fab md-mini"><md-icon>edit</md-icon></md-button></div>
					<video 
						ng-src="{{campaign.videoUrl}}"
						class="video-js vjs-default-skin"
						controls preload="auto" 
						width="640" 
						height="264" 
						fluid="true"
						poster="images/bidio_logo.png" 
						vjs-video
						vjs-media="media"
						vjs-setup="options"
						vjs-ratio="16:9">
					</video>
				</div>
				<p><b>About Text</b></p>
	    	<div ng-hide="editingInfo" class="edit-container">
	    		<div class="edit-btn"><md-button  ng-click="editInfoToggle()" class="md-fab md-mini"><md-icon>edit</md-icon></md-button></div>
	    		<p>{{campaign.intro}}</p>
	    	</div>
	    	<div ng-show="editingInfo">
	    		<md-input-container layout-fill>
	    			<textarea aria-label="Edit Intro" ng-model="campaign.intro" rows="5" md-rows="5"></textarea>
	    		</md-input-container>
	    		<md-progress-circular ng-show="infoSaving" md-mode="indeterminate"></md-progress-circular>
	    		<md-button ng-disabled="infoSaving" ng-click="infoSave()">Save</md-button>
	    		<md-button ng-disabled="infoSaving" ng-click="infoUndo()">Undo</md-button>
	    	</div>
	    </md-content>
		</md-tab>
		</md-tab>
		<md-tab ng-if="campaign.published" label="Videos">
			<md-content layout-padding>

				<md-toolbar>
					<div class="md-toolbar-tools">

						<md-input-container>
							<md-select aria-label="Submussion selector" ng-model="selection.type">
							  <md-option value="new">New Submissions</md-option>
							  <md-option value="approved">Approved Submissions</md-option>
							  <md-option value="unapproved">Unapproved Submissions</md-option>
							</md-select>
						</md-input-container>

						<span layout-fill></span>

						<md-button ng-click="save()" ng-disabled="clean == true || saving">
				    	<md-icon>save</md-icon>
				    	&nbsp;Save
				    	<span ng-show="saving">&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
				    </md-button>

				    <md-button ng-click="undo()" ng-disabled="clean == true || saving">
				    	<md-icon>undo</md-icon>
				    	&nbsp;Undo
				    </md-button>

					</div>
			  </md-toolbar>
				
				<md-list>
				  <md-list-item layout="row">
						<div flex="15">Title</div>
						<div flex="15">User</div>
						<div flex="50">Description</div>
						<div flex="10">View</div>
						<div flex="10">Approved</div>
					</md-list-item>
			    <div ng-repeat="video in selectedVideos">
			    	<md-divider></md-divider>
			    	<md-list-item layout="row">
			    		<div flex="15">{{video.title}}</div>
							<div flex="15">{{video.user}}</div>
							<div flex="50"><p style="height:1.4em;overflow-y:hidden;">{{video.description}}</p></div>
							<div flex="10"><md-button ng-click="view($event, video)" class="md-icon-button"><md-icon>play_arrow</md-icon></md-button></div>
							<div flex="10"><md-checkbox ng-click="dirty(video)" ng-model="video.approved" aria-label="Approved"></md-checkbox></div>
			    	</md-list-item>
			    </div>
				</md-list>
			</md-content>	
	  </md-tab>
	  <md-tab ng-if="!campaign.published" label="Publish">
			<md-content layout-padding>
				<md-button ng-click="publish()">Publish!</md-button>
			</md-content>
		</md-tab>
	</md-tabs>

</md-content>
