<md-content layout-padding>
  	<md-button ng-click="addCampaign()">
			<md-icon>add</md-icon>
			&nbsp;Add campaign
  	</md-button>
	<md-list style="text-align:left">
		<div class="container">			
			<div ng-repeat="campaign in campaigns" style="text-align:left;">
				<div class="col-md-6">		
						<div class="spacing-15"></div>	
						<a ui-sref="dashboard.campaignEdit({id: campaign.id})" class="md-primary"
						style="	width: 100%;
							    float: none;
							    display: block;
							    font-weight: bold;
							    font-size: 20px;" 
						>{{campaign.title}}</a>
						<div class="spacing-15"></div>

						<div><strong style="font-weight: bold;">Created:</strong> {{campaign.createdAt | date : "short"}}</div>
						<br>
						<div><strong style="font-weight: bold;">Updated:</strong> {{campaign.updatedAt | date : "short"}}</div>
						<div class="spacing-15"></div>	

						<a ui-sref="dashboard.campaignEdit({id: campaign.id})" style="cursor: pointer;">Edit <md-icon>mode_edit</md-icon></a>
						<a ng-click="delete(user.id)" style="margin-left: 25px;cursor: pointer;">Delete <md-icon>delete</md-icon></a>
					<hr>
				</div>
			</div>
		</div>
	</md-list>
</md-content>
