<md-content layout-padding>
  <div class="dashboard-title">
    <h1>{{contest.title}}</h1>
  </div>
  <a ui-sref="dashboard.contests"><md-icon>chevron_left</md-icon>&nbsp;Back to contests</a>
	
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Overview">
		  <h1>Lets fill this in with analytics !!!</h1>
		</md-tab>
	  <md-tab label="Landing Page">
	    <md-content layout-padding><p>{{contest.contestContent}}</p></md-content>
	  </md-tab>
		<md-tab label="Information">
		    <md-content layout-padding><p>{{contest.intro}}</p></md-content>
		</md-tab>
		</md-tab>
		<md-tab label="Video">
			<md-content layout-padding>

				<md-radio-group ng-model="selection">
		      <md-radio-button ng-disabled="saving" value="new">New</md-radio-button>
		      <md-radio-button ng-disabled="saving" value="approved"> Approved </md-radio-button>
		      <md-radio-button ng-disabled="saving" value="unapproved">Unapproved</md-radio-button>
		    </md-radio-group>

		    <md-button ng-click="save()" ng-disabled="clean == true || saving">
		    	<md-icon>save</md-icon>
		    	&nbsp;Save
		    	<span ng-show="saving">&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
		    </md-button>

		    <md-button ng-click="undo()" ng-disabled="clean == true || saving">
		    	<md-icon>undo</md-icon>
		    	&nbsp;Undo
		    </md-button>
				
				<md-list>
				  <md-list-item layout="row">
						<div flex="15">Title</div>
						<div flex="15">User</div>
						<div flex="50">Description</div>
						<div flex="10">View</div>
						<div flex="10">Approved</div>
					</md-list-item>
			    <div ng-repeat="video in selectedVideos">
			    	<md-divider></md-divider>
			    	<md-list-item layout="row">
			    		<div flex="15">{{video.title}}</div>
							<div flex="15">{{video.user}}</div>
							<div flex="50"><p style="height:1.4em;overflow-y:hidden;">{{video.description}}</p></div>
							<div flex="10"><md-button ng-click="view($event, video)" class="md-icon-button"><md-icon>play_arrow</md-icon></md-button></div>
							<div flex="10"><md-checkbox ng-click="dirty(video)" ng-model="video.approved" aria-label="Approved"></md-checkbox></div>
			    	</md-list-item>
			    </div>
				</md-list>
			</md-content>	
	  </md-tab>
	</md-tabs>

</md-content>
