<md-content layout-padding>
  <div class="dashboard-title">
    <h1>Contest</h1>
  </div>

  <div>
  	<md-button ng-click="addContest()">
			<md-icon>add</md-icon>
			&nbsp;Add contest
  	</md-button>
  </div>
	
	<md-list style="text-align:left">
		<md-list-item layout="row">
			<div flex="50">Title</div>
			<div flex="15">Created At</div>
			<div flex="15">Updated At</div>
			<div flex="10">Edit</div>
			<div flex="10">Delete</div>
		</md-list-item>
		<div ng-repeat="contest in contests">
			<md-divider/>
			<md-list-item layout="row">
				<div flex="50"><a ui-sref="contest.about({path: contest.urlTitle})" class="md-primary">{{contest.title}}</a></div>
				<div flex="15">{{contest.createdAt | date : "short"}}</div>
				<div flex="15">{{contest.updatedAt | date : "short"}}</div>
				<div flex="10"><md-icon>mode_edit</md-icon></div>
				<div flex="10"><md-button class="md-icon-button" ng-click="delete(user.id)"><md-icon>delete</md-icon></md-button></div>
			</md-list-item>
		</div>
	</md-list>
</md-content>
