<md-content layout-padding>
    <div class="spacing-15"></div>
    <div class="container create-modal">
        <h2 class="create-modal">Create Campaign</h2>
        <hr>
        <div class="spacing-15"></div>
        <md-input-container style="width:100%">
            <label class="modal-label" flex="100">Title</label>
            <input ng-model="campaign.title" type="text">
        </md-input-container>
        <div class="spacing-15"></div>
        <div ng-show="error">
            <p class="errorTxt">{{error}}</p>
        </div>
        <div class="spacing-15"></div>
        <md-button class="md-raised md-accent" ng-click="submit(campaign)">Submit</md-button>
        <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
        <div style="width:500px;max-width:100%"></div>
    </div>
    <div class="spacing-15"></div>
</md-content>