<md-content layout-padding class="add_profilepic_head">
	<h3>Create Video</h3>
	<md-input-container layout-fill>
    <label>Title</label>
    <input ng-model="video.title" type="text">
  </md-input-container>
  <br>
  <!--<md-input-container layout-fill>
    <label>URL Title</label>
    <input ng-model="video.urlTitle" type="text">
  </md-input-container>
  <br>-->
  <md-input-container layout-fill>
    <label>Description</label>
    <textarea ng-model="video.description" rows="4"></textarea>
  </md-input-container>
  <br>
  <div layout="row">
    <div class="text-left" flex="40">
      <md-checkbox ng-model="setMinimum" aria-label="Set budget">
        Set a minimum price per click?
      </md-checkbox>
    </div>
    <div flex="60">
      <md-input-container layout-fill>
        <label>Minimum price per click</label>
        <md-icon>attach_money</md-icon>
        <input type="text" ng-model="minimumPrice" ng-disabled="!setMinimum">
      </md-input-container>
    </div>
  </div>

  <div ng-hide="video.amazonUrl || videoLoading" class="width_100per" ngf-accept="'video/*'" ngf-drop ngf-select="upload($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true">
    <div>Drag videos or click here to upload.</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>  
  </div>

  <p ng-show="videoLoading" class="bidio_text_align"><i class="fa fa-spin fa-spinner"></i>&nbsp;{{pp}}%</p>
  <div ng-show="videoLoading" class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{pp}}%;">
    </div>
  </div>
  
  <div class="clearfix" ng-show="video.amazonUrl">
    <i ng-click="clear()" class="delete-btn pull-left fa fa-times fa-2x"></i>
    <p class="pull-right"><b>{{fileName}}</b></p>
  </div>

  <div ng-show="error">
    <p class="add_profilepic_error">{{error}}</p>
  </div>
  <md-button class="md-raised md-accent" ng-disabled="!video.amazonUrl" ng-click="submit(video)">Submit</md-button>
  <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
</md-content>