<md-content layout-padding>
    <div class="spacing-15"></div>
    <div class="container create-modal">
        <h2>Add Video</h2>
        <div class="spacing-25"></div>
        <md-input-container layout-fill>
            <label>Title</label>
            <input ng-model="video.title" type="text">
        </md-input-container>
        <md-input-container layout-fill>
            <label>Description</label>
            <textarea ng-model="video.description" rows="4"></textarea>
        </md-input-container>
        <md-input-container layout-fill>
            <label>Tags</label>
            <textarea ng-model="video.tags" rows="4"></textarea>
        </md-input-container>
        <!--<div layout="row">
            <div class="text-left" flex="100">
                <md-checkbox ng-model="setMinimum" aria-label="Set budget">
                    <label class="label-small">Set a minimum price per click?</label>
                </md-checkbox>
            </div>
        </div>
        <div class="spacing-15"></div>
        <div layout="row">
            <div flex="100">
                <md-input-container layout-fill>
                    <label class="label-small">Minimum price per click</label> 
                    <md-icon>attach_money</md-icon>
                    <input type="text" ng-model="minimumPrice" ng-disabled="!setMinimum">
                </md-input-container>
            </div>
        </div>-->
        <div class="spacing-15"></div>
        <div ng-hide="video.amazonUrl || videoLoading" style="max-width: 100%;width: 500px;" ngf-accept="'video/*,audio/*'" ngf-drop ngf-select="upload($file)" ng-model="file" class="drop-box" ngf-drag-over-class="dragover" ngf-allow-dir="true">
            <div>Drag videos or click here to upload.</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>  
        </div>

        <p ng-show="videoLoading" style="text-align:center"><i class="fa fa-spin fa-spinner"></i>&nbsp;{{pp}}%</p>
        <div ng-show="videoLoading" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{pp}}%;"></div>
        </div>

        <div class="clearfix" ng-show="video.amazonUrl" id="videoUploadThumbnail">


            <i ng-click="clear()" class="delete-btn pull-left fa fa-times fa-2x"></i>
            <p class="pull-left"><b>{{fileName}}</b></p>
            <br><br>
            <!--<thumbnail file-type="video" source="{{video.amazonUrl}}" max-height="250" max-width="250"></thumbnail>-->
            <br>

            <video 
                class="video-js vjs-default-skin"
                controls preload="auto" 
                width="640" 
                height="264" 
                fluid="true"
                poster="{{video.media.poster}}" 
                vjs-media="media"
                vjs-ratio="16:9"
                vjs-video
                playsinline
                ><!--crossorigin="anonymous"-->
            </video>
            <md-button class="md-raised pull-left" ng-click="captureThumbnail()">select thumbnail</md-button>
            <canvas style="width:100%" id="canvas"></canvas>
            <!--<p>upload thumbnail..</p>-->


        </div>


        <div ng-show="error">
            <p style="text-align:center;color:#ff664c;font-weight:700;">{{error}}</p>
        </div>
        <div class="spacing-15"></div>
        <md-button class="md-raised md-accent" ng-disabled="!video.amazonUrl" ng-click="submit(video)">Submit</md-button>
        <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
        <div style="width:500px;max-width:100%"></div>
    </div>
    <div class="spacing-15"></div>
</md-content>