<div id="main-container">
	<div class="surface-container home-pad">
		<div class="spacing-50"></div>
	    <h2 class="section-title dec-title" style="text-align: center;padding-bottom: 25px;"><strong  style="color:#FE9A2E">Your Dashboard</strong>
	    <hr style="width: 170px;margin: 0 auto;margin-top: 25px;"></h2>
		<div class="spacing-50"></div>
		<div class="container" style="text-align: center;">
			<div style="display: inline-block;">
				<div class="metro-big photo">
					<span style="background: rgba(0,0,0,0.65);
						    position: absolute;
						    height: 95px;
						    width: 200px;
						    left: -2px;
						    top: -2px;">
					</span>
					<img src="http://lorempixel.com/200/95/animals" class="img-delay-1" />
					<a ui-sref="dashboard.videos" href="/dashboard/videos" 
					style=" top: 35%;
							padding: 20%;
							margin: 0 auto;">
					 	<span style=" font-size: 20px;
							      font-weight: bold;
							      color: #fff;" >Your Videos</span>
					</a>
				</div>
				<div class="metro-big store">
					<a ui-sref="dashboard.analytics">
						<i class="fa fa-credit-card logout-icon"></i>
						<span class="logout" 
													style=" color:#252525;
													font-weight: bold;
													font-size: 14px;">Earnings</li>
						</span>
					</a>
				</div>
				<div class="metro-big" style="background: #252525;">
					<a ui-sref="dashboard.videos" href="/dashboard/videos" >
						<i class="fa fa-play-circle-o logout-icon" style="color: #FE9A2E;"></i>
						<span class="logout" style="font-weight: bold;
													font-size: 14px;">Upload</li></span>
					</a> 
				</div>
				<div class="metro-big store">
					<a href="/logout">
						<i class="fa fa-power-off logout-icon"></i>
						<span class="logout" style="color:#252525;
													font-weight: bold;
													font-size: 14px;">Logout</li>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="spacing-75"></div>
	    <h2 class="section-title dec-title" style="text-align: center;padding-bottom: 25px;"><strong  style="color:#FE9A2E">Bidio's Featured Campaigns</strong>
	    <hr style="width: 170px;margin: 0 auto;margin-top: 25px;"></h2>
		<div class="spacing-50"></div>
		<div class="container">
			<div class="spacing-25"></div>
			<div id="content-slider" class="clr">
				<div class="wrap-slider clr">
					<input type="radio" id="a-1" name="a">
					<input type="radio" id="a-2" name="a">
					<input type="radio" id="a-3" name="a">
					<input type="radio" id="a-4" name="a">
					<nav id="main-feat">
						<label for="a-1" class="first"></label>
						<label for="a-2" class="first"></label>
						<label for="a-3" class="first"></label>
						<label for="a-4" class="first"></label>
					</nav>
					<nav id="control">
						<label for="a-1"></label>
						<label for="a-2"></label>
						<label for="a-3"></label>
						<label for="a-4"></label>
					</nav>
					<span id="b-1" class="th" tabindex="10">
						<img src="https://placehold.it/1200x400" alt="" id="p-1">
						<div class="title-1">
							<h1>Campaign Title</h1>
							<a href="">read more...</a>
						</div>
					</span>
					<span id="b-2" class="th" tabindex="11">
						<img src="https://placehold.it/1200x400" alt="" id="p-2">
						<div class="title-2">
							<h1>Campaign Title</h1>
							<a href="">read more...</a>
						</div>
					</span>
					<span id="b-3" class="th" tabindex="12">
						<img src="https://placehold.it/1200x400" alt="" id="p-3">
						<div class="title-3">
							<h1>Campaign Title</h1> 
							<a href="">read more...</a>
						</div>
					</span>
					<span id="b-4" class="th" tabindex="13">
						<img src="https://placehold.it/1200x400" alt="" id="p-4">
						<div class="title-4">
							<h1>Campaign Title</h1>
							<a href="">read more...</a>
						</div>
					</span>
					<div class="slider">
						<div class="inset" style="padding:0!important">
							<figure>
								<figcaption class="title-1">
								  <h1>Campaign Title</h1>
								  <a href="">read more...</a>
								</figcaption>
								<img src="https://placehold.it/1200x400" alt="" id="i-1" class="f">
							</figure>
							<figure>
								<figcaption class="title-2">
								  <h1>Campaign Title</h1>
								  <a href="">read more...</a>
								</figcaption>
								<img src="https://placehold.it/1200x400" alt="" id="i-2" class="f">
							</figure>
							<figure>
								<figcaption class="title-3">
								  <h1>Campaign Title</h1>
								  <a href="">read more...</a>
								</figcaption>
								<img src="https://placehold.it/1200x400" alt="" id="i-3" class="f">
							</figure>
							<figure>
								<figcaption class="title-4">
								  <h1>Campaign Title</h1>
								  <a href="">read more...</a>
								</figcaption>
								<img src="https://placehold.it/1200x400" alt="" id="i-4" class="f">
							</figure>
							<figure>
								<figcaption class="title-5">
								  <h1>Campaign Title</h1>
								  <a href="">read more...</a>
								</figcaption>
								<img src="https://placehold.it/1200x400" alt="" id="i-5" class="f">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div><!--
		<div ng-repeat="featuredCampaign in featuredCampaigns">
			<h4><a href="/campaign/{{featuredCampaign.urlTitle}}">{{featuredCampaign.title}}</a></h4>
		</div>-->
		<div class="spacing-75"></div>
	</div>
</div>
