<div id="main-container">
    <div class="surface-container home-pad">
        <div class="spacing-50"></div>
        <h2 class="section-title dec-title" style="text-align: center;padding-bottom: 25px;"><strong style="color:#FE9A2E">Your Dashboard</strong></h2>
        <hr style="width: 170px;margin: 0 auto;margin-top: 25px;">
        <h2 class="section-title dec-title" style="text-align: center;padding-bottom: 25px;"></h2>
        <div class="spacing-50"></div>
        <div class="container">
            <div class="row">
            	<div class="col-md-4">
	                <div class="metro-big metro-dash">
	                    <a href="/dashboard/videos" ui-sref="dashboard.videos">
	                    	<i class="fa fa-credit-card logout-icon"></i> <span class="logout">Home</span>
	                    </a>
	                </div>
            	</div>
            	<div class="col-md-4">
	                <div class="metro-big metro-dash">
	                    <a href="/dashboard/analytics" ui-sref="dashboard.analytics">
	                    	<i class="fa fa-credit-card logout-icon"></i> <span class="logout">Earnings</span></a>
	                </div>
            	</div>
            	<div class="col-md-4">
	                <div class="metro-big metro-dash">
	                    <a href="/dashboard/videos" ui-sref="dashboard.videos">
		                    <i class="fa fa-play-circle-o logout-icon"></i> <span class="logout">Upload</span>
	                    </a>
	                </div>	
            	</div>
            </div>
        </div>
        <div class="spacing-75"></div>
        <h2 class="section-title dec-title" style="text-align: center;padding-bottom: 25px;"><strong style="color:#FE9A2E">Featured Campaign</strong></h2>
        <hr style="width: 170px;margin: 0 auto;margin-top: 25px;">
        <div class="container">
            <div class="spacing-25"></div>
            <div class="clr" id="content-slider">
                <div class="wrap-slider clr">
                    <input id="a-1" name="a" type="radio">
                    <nav id="main-feat">
                        <label class="first" for="a-1"></label>
                    </nav>
                    <nav id="control">
                        <label for="a-1"></label>
                    </nav>
                    <div class="slider" ng-repeat="featuredCampaign in featuredCampaigns">
                        <div class="inset" style="padding:0!important">
                            <figure>
                                <figcaption class="title-1">
                                    <h1>{{featuredCampaign.title}}</h1><a href="/campaign/{{featuredCampaign.urlTitle}}">read more...</a>
                                </figcaption><img alt="" class="f" id="i-1" src="{{featuredCampaign.bannerUrl}}">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacing-75"></div>
    </div>
</div>