<md-content layout-padding>
    <div class="spacing-15"></div>
    <div class="container create-modal">
        <h2>Import Videos</h2><hr>
 
        <p>Import your hard-earned production value and empower your creativity.</p>
        <p>You are not beholden to YouTube or any service provider.</p>
        <p>Imagine your video everywhere. Unleash your potential.</p>
        <p>Get paid for doing what you love. Make authentic sponsorship deals.</p>
        <br><br>

        <md-button style="width:100%" class="md-raised md-accent" ng-click="youtube()">Take command of your creative work</md-button>
        <p class="grey">import from youtube</p>

        <div class="spacing-15"></div>
        <div ng-repeat="video in videos">
          <h3 style="text-align:left">{{video}}</h3>
          <md-switch ng-model="true" aria-label="Switch 1"></md-switch>
        </div>
        <div class="spacing-15"></div>
        <md-button style="width:100%" class="md-raised md-accent" ng-disabled="!video.amazonUrl" ng-click="submit(video)">Submit</md-button>
        <md-button style="width:100%" class="md-raised" ng-click="cancel()">Cancel</md-button>
        <div style="width:500px;max-width:100%"></div>
    </div>
    <div class="spacing-15"></div>
</md-content>