<div id="main-container">
  <div style="min-height:500px" layout="column" layout-padding>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="editview">
            <a ui-sref="dashboard.profileEdit" class="btn anim-button fl-l home-buttons"><i class="fa fa-pencil"></i> <span>Edit</span></a>
          </div>          
        </div>
        <div class="col-xs-6">
          <div class="editview">
            <a ui-sref="member({path: username})" class="btn anim-button fl-l home-buttons"><i class="fa fa-eye"></i> <span>View</span></a>
          </div>
        </div>
      </div>
      <div class="spacing-15"></div>
      <div class="bidio-profile">
          <img align="left" class="bidio-image-lg" src="{{profile.bannerUrl}}" alt="Profile Banner"/>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div style="text-align: left;">
            <div class="bidio-image-profile">
              <img style="max-width: 100%;padding:10px" class="thumbnail" src="{{profile.pictureUrl}}" alt="Profile Pic"/>  
            </div>
            <div class="prof-desc">   
              <h2>{{user.username}}</h2>
              <hr>
              <div class="desc-inner">
                <p ng-if="profile.firstName && profile.lastName"><b>Name:</b></p> <p ng-if="profile.firstName">{{profile.firstName}}</p> <p ng-if="profile.lastName">{{profile.lastName}}</p>
                <br>
                <p ng-if="profile.companyName && profile.companyUrl"><b>Company:</b> <a target="_blank" href="{{profile.companyUrl}}">{{profile.companyName}}</a></p>
                <br>
                <p>{{profile.description}}</p>
                <br>
                <p>${{user.creditSum | number: 2}}  <a ui-sref="dashboard.profileEdit" class="btn anim-button fl-l home-buttons"><i class="fa fa-usd"></i> add credit</a></p>
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>