<div id="main-container">
  <div class="dashboard-title" style="min-height:500px" layout="column" layout-padding>
    <div flex="100" layout="column">
      <md-card flex="100" layout="column" style="box-shadow:none!important;">
        <md-card-content flex="100" layout="row">
          <div flex="20"></div>
          <div flex="50" layout="column">
            <div layout="row">
              <md-button ui-sref="dashboard.profileEdit" class="md-raised" layout-fill><md-icon>edit</md-icon>Edit</md-button><br>
            </div>
          </div>
          <div flex="20"></div>
          <div flex="50" layout="column">
            <div layout="row">
              <md-button ui-sref="member({path: username})" class="md-raised" layout-fill><md-icon>person</md-icon>View</md-button>
            </div>
          </div>
          <div flex="20"></div>
        </md-card-content>
      </md-card>
    </div>
  	<div flex="40" layout="row" layout-padding>
  		<div flex="25">
  			<img style="width:100%" ng-src="{{profile.picture}}">
  		</div>
  		<div flex="25">
  			<p class="profile-description">{{profile.description}}</p>
        <md-button class='primary md-raised' ng-click="go('/auth/providers')">get providers</md-button>
        <br>
        <i class="fa fa-facebook"></i>
        <md-button class="primary md-raised"
          ng-click="go('/auth/facebook')"
          ng-disabled="passportRegistered('facebook')">
          activate
        </md-button>
        <md-button class='primary md-raised'
          ng-click="removePassport('facebook')"
          ng-show="passportRegistered('facebook')">
          remove
        </md-button>
        <br>
        <i class="fa fa-google-plus"></i>
        <md-button class='primary md-raised'
          ng-click="go('/auth/google')"
          ng-disabled="passportRegistered('google')">
          activate
        </md-button>
        <md-button class='primary md-raised'
          ng-click="removePassport('google')"
          ng-show="passportRegistered('google')">
          remove
        </md-button>
        <br>
        <i class="fa fa-twitter"></i>
        <md-button class='primary md-raised'
          ng-click="go('/auth/twitter')"
          ng-disabled="passportRegistered('twitter')">
          activate
        </md-button>
        <md-button class='primary md-raised'
          ng-click="removePassport('twitter')"
          ng-show="passportRegistered('twitter')">
          remove
        </md-button>

        <p>profile : {{profile.user}}</p>
        <p>user passports: {{profile.user.passports[0].provider}}</p>
  		</div>
  	</div>
  	<div flex="60" layout="row" layout-padding>
  		<div flex="60">
  			<md-content layout-padding layout-fill>
	  			<md-list>
						<md-list-item ng-if="profile.firstName">
						  <p><b>First Name</b>&nbsp;{{profile.firstName}}</p>
						</md-list-item>
						<md-divider></md-divider>
						<md-list-item ng-if="profile.lastName">
						  <p><b>Last Name</b>&nbsp;{{profile.lastName}}</p>
						</md-list-item>
						<md-divider></md-divider>
						<md-list-item ng-if="profile.companyName && profile.companyUrl">
						  <p><b>Company</b>&nbsp;<a target="_blank" href="{{profile.companyUrl}}">{{profile.companyName}}</a></p>
						</md-list-item>
	  			</md-list>
	  		</md-content>
  		</div>
  	</div>
  </div>
</div>
