<md-content layout-padding>

  <div class="dashboard-title">
   <h2><a ui-sref="video({id: video.id})">{{video.title}}</a></h2>
  </div>
  <video style="display:inline-block;" class="video-js vjs-default-skin" src={{video.amazonUrl}} controls preload="none" width="640" height="264" poster="poster.jpg" vjs-video>
  </video>

  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Overview">
      <div class="spacing-25"></div>
      <div class="row">
        <div class="col-md-12">
          <canvas id="line" class="chart chart-line" style="padding:15px" chart-data="data"
            chart-labels="labels" chart-legend="true" chart-series="series"
            chart-click="onClick">
          </canvas>
        </div>
      </div>
      <div class="spacing-25"></div>
      <canvas id="line" class="chart chart-line" chart-data="viewData"
            chart-labels="viewLabels" chart-legend="true" chart-series="viewSeries"
            chart-click="onClick">
      </canvas> 
      <canvas id="line" class="chart chart-line" chart-data="clickData"
            chart-labels="clickLabels" chart-legend="true" chart-series="clickSeries"
            chart-click="onClick">
      </canvas> 
      <div class="row">
        <div class="spacing-25"></div>
        <div class="col-md-6" style="margin-top:25px">
          <h2 style="font-weight:bold;color:#FAA93F;text-align:left;">Finance</h2>
          <hr>
          <p><b>Price per click</b>&nbsp;${{ campaign.price | number: 2 }}</p>
          <p><b>Total clicks</b>&nbsp;{{ totalClicks }}</p>
          <p><b>Total payment</b>&nbsp;${{ totalClicks * campaign.price | number: 2 }}</p>
          <p ng-show="campaign.maxContributionPerVideo"><b>Max Contribution per Video</b>&nbsp;${{ campaign.maxContributionPerVideo | number : 2 }}</p>
          <p ng-show="campaign.contributionGoal"><b>Max Contribution per Video</b>&nbsp;${{ campaign.contributionGoal | number: 2 }}</p>
        </div>
        <div class="col-md-6" style="margin-top:25px">
          <h2 style="font-weight:bold;color:#FAA93F;text-align:left;">Performance</h2>
          <hr>
          <p><b>Top video (by clicks)</b>&nbsp;{{ topClicks.title }}&nbsp;({{ topClicks.clickCount }} clicks)<br></p>
          <p><b>Top video (by views)</b>&nbsp;{{ topViews.title }}&nbsp;({{ topClicks.clickCount }} views)<br></p>
          <p><b>Top video (by conversion ratio)</b>&nbsp;{{ topConversion.title }}&nbsp;({{ (topConversion.clickCount / topConversion.viewCount) * 100 | number : 2 }}&nbsp;%)</p>
          <p><b>Total clicks</b>&nbsp;{{ totalClicks }}<br></p>
          <p><b>Total views</b>&nbsp;{{ totalViews }}<br></p>
          <p><b>Average conversion ratio</b>&nbsp;{{ (totalClicks / totalViews) * 100 | number : 2 }}&nbsp;%<br></p>
        </div>
      </div>
      <div class="spacing-25"></div>
    </md-tab>
    <md-tab label="About">
      <div class="spacing-25"></div>
      <div class="row">    
        <div class="col-md-6">
          <div ng-hide="editingInfo" class="edit-container">
            <p class="dash-title-sm"><b>{{video.title}}</b></p>
            <p class=""><b>{{video.description}}</b></p>
            <md-button ng-click="editInfoToggle()">Edit</md-button>
          </div>
          <div ng-show="editingInfo">
            <md-input-container layout-fill>
              <textarea aria-label="Edit Description" ng-model="video.description" rows="5" md-rows="5"></textarea>
            </md-input-container>
            <md-progress-circular ng-show="infoSaving" md-mode="indeterminate"></md-progress-circular>
            <md-button ng-disabled="infoSaving" ng-click="infoSave()">Save</md-button>
            <md-button ng-disabled="infoSaving" ng-click="infoUndo()">Undo</md-button>
            <md-button ng-click="videoDelete()">Delete</md-button>
          </div>

        </div>
      </div>
    </md-tab>
  </md-tabs>


</md-content>
