<div class="spacing-15"></div>
<div class="container">
  <ul class="list-inline intro-social-buttons" style="position:relative;top:25px;text-align:left">
      <li>
          <a class="btn anim-button fl-l home-buttons" ng-click="addVideo($event)"><i class="fa fa-file-video-o fa-fw"></i> <span class="network-name">Upload Video</span></a>
      </li>
  </ul>
</div>
<div class="container">
  <div class="dashboardVideos col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="video in videos">
      <div class="spacing-25"></div>
      <a href="dashboard/video/{{video.id}}">
        <h2 class="discover-title" style="text-align:left">
          {{video.title}}
        </h2>
        <video 
          class="video-js vjs-default-skin"
          preload="true" 
          width="640" 
          height="264" 
          fluid="true"
          poster="{{video.media.poster}}"
          vjs-video
          vjs-media="video.media"
          vjs-ratio="16:9">
        </video>
      </a>
  </div>
</div>
<div class="spacing-25"></div>
