<div class="spacing-15"></div>
<div class="container">
  <ul class="list-inline intro-social-buttons" style="position:relative;top:25px;text-align:left">
      <li>
          <a class="btn anim-button fl-l home-buttons" ng-click="addVideo($event)"><i class="fa fa-file-video-o fa-fw"></i> <span class="network-name">Upload Video</span></a>
      </li>
  </ul>
</div>
<div class="container">
  <div class="dashboardVideos col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="video in videos">
      <h2 class="discover-title" style="text-align:left"><a href="dashboard/video/{{video.id}}">{{video.title}}</a></h2>
      <video class="video-js vjs-default-skin" controls="" height="264" poster="{{video.thumbnailUrl}}" preload="none" src="{{video.amazonUrl}}" style="display:inline-block;" vjs-video=""width="640"></video>
      <div class="spacing-15"></div>
  </div>
</div>
