<md-content layout-padding>
  <div class="dashboard-title">
    <h1>Dashboard Videos</h1>
  </div>

  <div>
  	<md-button ng-click="addVideo($event)"><md-icon>add</md-icon>&nbsp;Add video</md-button>
  </div>

  <div class="dashboardVideos" ng-repeat="video in videos">
    <h1>{{video.title}}</h1>
    <video style="display:inline-block;" class="video-js vjs-default-skin" src={{video.amazonUrl}} controls preload="none" width="640" height="264" poster="poster.jpg" vjs-video>
    </video>
  </div>


</md-content>
