<md-content layout-padding class="padding_top_50px">

	<link href="http://vjs.zencdn.net/5.8.0/video-js.css" rel="stylesheet">

	<div id="video-container">
		<video class="video-js vjs-default-skin display_block" src={{video.amazonUrl}} controls preload="none" width="640" height="264" poster="poster.jpg" vjs-video>
	  </video>
	</div>

	<div id="video-details" class="container padding_top_25px">
		<div class="row">
			<div class="col-xs-12">
				<b>About</b>
				<p>{{video.description}}</p>
			</div>
		</div>
	</div>

	<md-checkbox ng-model="video.approved" aria-label="Approved">Approved</md-checkbox><br>

	<md-button ng-click="dismiss()">Dismiss</md-button>



</md-content>