<div class="surface-container home-pad">
	<div class="contestsTitleContainer">
		<h1 class="contentTitleLetters">Contests</h1>
	</div>

	<br><br>
	
	<div class="container" ng-repeat="contest in contests">
		<h2><a ng-bind-html="contest.title" href="/contest/{{contest.urlTitle}}"></a></h2>
		<h4>sponsered by</h4>
		<h3><a href="/member/{{contest.user.username}}">{{contest.user.username}}</a></h3>
	</div>

	<br><br>
	
	<div ng-show="currentUser">
		<div class="contestsTitleContainer">
			<h1 class="contentTitleLetters">Create a Contest</h1>
		</div>
		
		<div class="container">
			<form ng-submit="createContest(newContest)">
				<p class="contestsInfoText">Title</p>
				<input class="contestsInfoInput" type='text' ng-model="newContest.title"></input>
				<p class="contestsInfoText">Tell us about the Contest.</p>
				<textarea class="contestsInfoInput" ng-model="newContest.contestContent"></textarea>
				<p class="contestsInfoText">URL</p>
				<input class="contestsInfoInput" type='text' ng-model="newContest.urlTitle"></input><br>
				<button class="createContestButton" type='submit'>Create</button>
			</form>
			<br><br>
		</div>
	</div>
		
</div>