<div class="row" style="padding:25px;">
	<h2>Bid on {{video.title}}</h2>
	<br>
	<p>Current price per click: ${{highestBid.value | number : 2}}</p>
	<div class="form-group">
		<label for="bid-price">Price</label>
		<input type="text" class="form-control" ng-model="bid.value" id="bid-price" placeholder="Input field">
	</div>
	<div class="form-group">
		<label for="bid-campaign">Select Campaign</label>
		<select name="bid-campaign" ng-model="bid.campaign" id="bid-campaign" class="form-control" required="required">
			<option value="">Select Campaign</option>
			<option ng-repeat="campaign in campaigns" ng-value="campaign.id">{{campaign.title}}</option>
		</select>
	</div>
	<md-button ng-disabled="bid.value <= highestBid.value || !bid.campaign" ng-click="createBid(bid)">Submit</md-button>
</div>