<md-content layout-padding>
    <div class="spacing-15"></div>
    <div class="container create-modal">
        <h2><span class="bidio-orange">Bid on </span>{{video.title}}</h2>
        <div class="spacing-15"></div>
        <p style="font-weight:bold">Price per click: ${{highestBid.value | number : 2}}</p>
        <div class="spacing-15"></div>
        <md-input-container layout-fill>
            <label>Bid Price</label>
            <input ng-model="bid.value" type="text">
        </md-input-container>
        <div class="spacing-10"></div>

        <md-input-container layout-fill>
            <a style="width:100%" ui-sref="dashboard.campaigns" class="text-center btn anim-button fl-l"><span class="network-name">Create Campaign</span><i class="fa fa-long-arrow-right fa-fw"></i></a>
        </md-input-container>

        <div class="spacing-5"></div>

        <div layout="row">
            <div class="text-left" flex="100" ng-show="campaigns.length>0">
				<select name="bid-campaign" ng-model="bid.campaign" id="bid-campaign" class="form-control" required="required">
					<option value="">Select Campaign</option>
					<option ng-repeat="campaign in campaigns" ng-value="campaign.id"><!--<img ng-src="{{campaign.campaignImageUrl}}">--> {{campaign.title}}</option>
				</select>
            </div>
        </div>


        <div class="spacing-15"></div>
        <md-button class="md-raised md-accent" ng-disabled="bid.value <= highestBid.value || !bid.campaign" ng-click="createBid(bid)">Submit</md-button>
        <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
    </div>
    <div class="spacing-15"></div>
</md-content>