<md-content layout-padding>
    <div class="spacing-15"></div>
    <div class="container create-modal">
      <form name="shareForm" novalidate>       
        <h2 class="create-modal">Share!</h2>
        <md-button style="position:absolute;top:0;right:0;" ng-click="cancel()" aria-label="Close dialog">
          <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
        <hr>
        <div ng-show="!shareComplete" class="md-dialog-content">
          <md-input-container ng-show="tweeting" class="md-block">
              <label>Personalize!</label>
              <textarea name="composition" ng-model="share.composition" md-maxlength="{{140 - tweetCompPadding}}" rows="3" md-select-on-focus md-autofocus></textarea>
          </md-input-container>
          <md-dialog-actions class="share-dialog-action-buttons" layout="row" layout-align="center">
            <md-button class="primary md-raised" style="background-color:#3b5998;color: #fff;padding: 0 10px;" ng-show="!tweeting" ng-click='shareFacebook()'><i class="fa fa-facebook"></i> Facebook</md-button>
            <!-- <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
            <md-button class="primary md-raised" style="background-color:#55acee;color: #fff;padding: 0 10px;" ng-show="!shareWorking" ng-disabled="shareForm.$invalid" ng-click='shareTwitter()'><i class="fa fa-twitter"></i> Twitter</md-button>


            <p>link</p>
            <p>embed link</p>


            <!-- Loading spinner? -->
            <md-progress-circular ng-show="shareWorking" md-mode="indeterminate"></md-progress-circular>
          </md-dialog-actions>
        </div>
        <div ng-show="shareComplete" class="md-dialog-content">

          <div ng-show="shareSuccess">
            <h2 class="md-headline">
              Thanks for sharing!
            </h2>
            <div ng-show="sharedInHouse">
              <a href="#" ng-click="viewTweet()">
                View tweet!
              </a>
            </div>
          </div>

          <div ng-show="shareFailed" class="md-dialog-content">
            <h2 class="md-headline">
              Error posting tweet... Try again later.
            </h2>
          </div>

        </div>
      </form>
      <div style="width:500px;max-width:100%"></div>
    </div>
    <div class="spacing-15"></div>
</md-content>