<div style="height:100%">
	<div class="spacing-25"></div>
	<div class="container">
		<div class="col-md-4">
    		<h2 class="section-title dec-title"><strong  style="color:#FE9A2E">Discover</strong>
    	</div>
    	<div class="col-md-8">
		    <div class="discover-search">
		        <div class="input-group">
					<input ng-keyup="keyPress(searchValue)" class="search-query form-control" ng-model="searchValue" id="search-link" size="40" type="text" placeholder="Search">
		            <span class="input-group-btn">
		                <button class="btn" type="button">
		                    <span class="fa fa-search"></span>
		                </button>
		            </span>
		        </div>
		    </div>
    	</div>
    </div>
    <div style="margin-top: 25px;" ng-show="videos.length == 0">
    	<h2 style="text-align:center">zero results</h2>
    </div>
    <div class="container">
		<div class="dashboardVideos col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-repeat="video in videos" style="margin-top: 25px;margin-bottom:25px;">
			<div class="spacing-25"></div>
	    	<a ui-sref="video({id: video.id})">
				<video 
					class="video-js vjs-default-skin"
					preload="true" 
					width="640" 
					height="264" 
					fluid="true"
					poster="{{video.media.poster}}"
					vjs-video
					vjs-media="video.media"
					vjs-ratio="16:9">
				</video>
				<h2 class="discover-title" style="margin-top:10px; text-align:left;margin-bottom:5px;">
					{{video.title}}
				</h2>
			</a>
			<p style="padding-bottom:5px;line-height:0;font-size:12px;"><b><a style="text-align:left" href="member/{{video.user.username}}">{{video.user.username}}</a></b></p>
            <p style="font-size:12px;color:grey">{{video.viewCount}} views - <span am-time-ago="video.createdAt"></span></p>
		</div>

		<div class="btn btn-default col-xs-12" ng-click="loadMore()">load more</div>
	</div>
	<div class="spacing-25"></div>
</div>