<div class="spacing-15"></div>
<div class="container">
	<div class="row">
		 <video 
			class="video-js vjs-default-skin"
			controls preload="auto" 
			width="640" 
			height="264" 
			fluid="true"
			vjs-video
			poster="{{campaign.poster}}" 
			vjs-media="campaign.media"
			vjs-ratio="16:9">
		</video>
	</div>
	<div class="spacing-25"></div>
	<div class="row">
		<div class="sponsoredByContainer col-md-4">
			<h3 style="font-weight: 500;font-size: 25px;color: #555555;">Sponsored By</h3>
			<div class="spacing-10"></div>
			<a href="/member/{{campaign.user.username}}"><img class="sponsorPicLarge" src="{{campaign.user.profile.picture}}"></a>
		</div>
		<div class="aboutTxt editCampaignContainer col-md-8">
			<p>{{campaign.intro}}</p>
		</div>
	</div>
	<div class="spacing-25"></div>
	<hr>
	<div class="row">
		<div class="spacing-25"></div>
		<div class="row">
			<div ng-show="campaign.bids.length > 0" class="col-md-6">
				<h2 style="font-weight:bold;color:#FAA93F;font-size:3.2em;">Campaign Videos</h2>
			</div>
			<div class="col-md-6">
				<div class="campaign-submit" style="margin-top:10px;"><a class="btn anim-button fl-l" ng-click="apply()">Submit a video</a></div>
			</div>
		</div>
		<div class="campaignVideos col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="bid in campaign.bids">
			<h2 style="font-size: 2.5em;margin-bottom: 15px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><a ui-sref="video({id: bid.video.id})">{{bid.video.title}}</a></h2>
			<h3>By <b><a href="/member/{{bid.video.user.username}}">{{bid.video.user.username}}</a></b> on {{bid.video.createdAt | date: "shortDate"}}</h3>
			<br>
			<video 
				vjs-video
				vjs-media="bid.media"
				class="video-js vjs-default-skin"
				controls preload="auto" 
				width="640" 
				height="264" 
				fluid="true"
				poster="campaign.poster" 
				vjs-ratio="16:9">
			</video>
			<a href="#" ng-show="campaign.campaignImageUrl" class="vid-clickthrough"><img src="{{campaign.campaignImageUrl}}"></a>
		</div>
	</div>
</div>
<div class="spacing-25"></div>