<div class="spacing-15"></div>
<div class="container">

	<uib-tabset active="active" class="campaign-tabs">
		<li ui-sref-active="active">
			<a ui-sref="campaign.about({path: campaign.urlTitle})">Campaign</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="campaign.main({path: campaign.urlTitle})">Sponsor</a>
		</li>
	</uib-tabset>
	<div class="campaignsTitleContainer">
		<h2 class="contentTitleLetters">{{campaign.title}}</h2>
	</div>

	<div class="row" ng-show="campaign.videoUrl != '/videos/video.mp4'">
		<div class="spacing-15"></div>
		<div class="col-md-6">
			<video 
				class="video-js vjs-default-skin"
				controls preload="auto" 
				width="640" 
				height="264" 
				fluid="true"
				vjs-video
				poster="{{campaign.poster}}" 
				vjs-media="campaign.media"
				vjs-ratio="16:9">
			</video>
		</div>
	</div>
	<div class="spacing-15"></div>
	<div class="row">
		<div class="sponsoredByContainer col-md-4">
			<h3 style="font-weight: 500;font-size: 25px;color: #555555;">Sponsored By</h3>
			<div class="spacing-10"></div>
			<a href="/member/{{campaign.user.username}}"><img class="sponsorPicLarge" src="{{campaign.user.profile.picture}}"></a>
			<a href="/member/{{campaign.user.username}}"><h4>{{campaign.user.username}}<h4></a>
		</div>
		<div class="aboutTxt editCampaignContainer col-md-8">
			<p>{{campaign.intro}}</p>
		</div>
	</div>

	<div class="spacing-25"></div>
	<hr>
	<div class="spacing-25"></div>

	<div class="row">
		<div class="col-md-6">
			<div class="campaign-submit" style="margin-top:10px;"><a class="btn anim-button fl-l" ng-click="apply()">Submit A Video</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="bid in campaign.bids">
			<h2 style="text-align:left;font-size: 2.5em;margin-bottom: 15px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><a ui-sref="video({id: bid.video.id})">{{bid.video.title}}</a></h2>
			<h3 style="text-align:left;">by <b><a href="/member/{{bid.video.user.username}}">{{bid.video.user.username}}</a></b></h3>
			<br>
			<video 
				vjs-video
				vjs-media="bid.media"
				class="video-js vjs-default-skin"
				controls preload="auto" 
				width="640" 
				height="264" 
				fluid="true"
				poster="campaign.poster" 
				vjs-ratio="16:9">
			</video>
			<a href="#" ng-show="campaign.campaignImageUrl" class="vid-clickthrough"><img src="{{campaign.campaignImageUrl}}"></a>
		</div>
	</div>
</div>
<div class="spacing-25"></div>