<style>
	.dashboard-page-wrapper-mobile{display:none;}
	@media (max-width: 1080px) {
		.dashboard-page-wrapper{display:none;}
		.dashboard-page-wrapper-mobile{display:block;}
	}
	.dashboard-page-wrapper{
		min-height: 100%;
	}
	.dashboard-page-wrapper-mobile{
		min-height: 100%;
	}
	.video-footer {
		width: 100%;
		height: 150px;
		background: #101010;
		border-top: 5px solid #FE9A2E;
	}
</style>

<!--mobile-->
<div class="dashboard-page-wrapper-mobile">
	<div class="spacing-25"></div>
	<ul class="nav nav-tabs dashboard_menu_wrapper text_center_f">
		<li ui-sref-active="active" class="ng-scope active dashboard_menu_items_f " >
			<a ui-sref="dashboard.videos" href="/dashboard/videos">Videos</a>
		</li>		
		<li ui-sref-active="active" class="ng-scope dashboard_menu_items_f">
			<a ui-sref="dashboard.profileMain" href="/dashboard/profile">Profile</a>
		</li>		
		<li ui-sref-active="active" class="ng-scope dashboard_menu_items_f">
			<a ui-sref="dashboard.campaigns" href="/dashboard/campaigns">Campaigns</a>
		</li>
		<li ui-sref-active="active" class="ng-scope dashboard_menu_items_f">
			<a ui-sref="dashboard.analytics" href="/dashboard/analytics">Analytics</a>
		</li>
	</ul>	
	<div class="dashboard-page-wrapper-mobile" layout-fill>
		<div ui-view></div>
	</div>
</div>
<!--desktop-->
<div layout="row" class="dashboard-page-wrapper">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
	  <md-toolbar class="md-primary md-hue-2">
	    <h1 class="md-toolbar-tools">Dashboard</h1>
	  </md-toolbar>
	  <md-content>
	    <md-list>
	    <md-list-item ui-sref-active="active" class="menu-select md-3-line" md-ink-ripple="#101010" ng-click="changePath('')">
	        <div class="md-list-item-text" layout="column">
	          <h3><a ui-sref="dashboard.home"><span class="pull-left">Home</span><md-icon class="pull-right">home</md-icon></a></h3>
	        </div>
	      </md-list-item>
	      <md-divider ></md-divider>
	      <md-list-item ui-sref-active="active" class="menu-select md-3-line" md-ink-ripple="#101010" ng-click="changePath('/analytics')">
	        <div class="md-list-item-text" layout="column">
	          <h3><a ui-sref="dashboard.analytics"><span class="pull-left">Analytics</span><md-icon class="pull-right">insert_chart</md-icon></a></h3>
	        </div>
	      </md-list-item>
	      <md-divider ></md-divider>
	      <md-list-item ui-sref-active="active" class="menu-select md-3-line" md-ink-ripple="#101010" ng-click="changePath('/videos')">
	        <div class="md-list-item-text" layout="column">
	          <h3><a ui-sref="dashboard.videos"><span class="pull-left">Videos</span><md-icon class="pull-right">videocam</md-icon></a></h3>
	        </div>
	      </md-list-item>
	      <md-divider ></md-divider>
	      <md-list-item ui-sref-active="active" class="menu-select md-3-line" md-ink-ripple="#101010" ng-click="changePath('/profile')">
	        <div class="md-list-item-text" layout="column">
	          <h3><a ui-sref="dashboard.profileMain"><span class="pull-left">Profile</span><md-icon class="pull-right">person</md-icon></a></h3>
	        </div>
	      </md-list-item>
	      <md-divider ></md-divider>
	      <md-list-item ui-sref-active="active" class="menu-select md-3-line" md-ink-ripple="#101010" ng-click="changePath('/campaigns')">
	        <div class="md-list-item-text" layout="column">
	          <h3><a ui-sref="dashboard.campaigns"><span class="pull-left">Campaigns</span><md-icon class="pull-right">trending_up</md-icon></a></h3>
	        </div>
	      </md-list-item>
	    </md-list>
	</md-sidenav>
	<div class="dashboard-page-wrapper" layout-fill>
		<div ui-view></div>
	</div>
</div>

<div ng-include="'footer/index.tpl.html'" class="video-footer"></div>