<!--<p ng-bind-html="contest.contestContent"></p>-->
<div class="container"> 
	<div class="row">
		<div class="col-md-12">
			<div class="spacing-25"></div>
			<img style="width:100%;" ng-src="{{contest.bannerUrl}}">
		</div>
	</div>
	<div class="row">
		<div class="spacing-25"></div>
		<div class="sponsor-container">
			<div class="col-md-4">
				<img class="sponsorPicLarge" ng-src="{{ contest.user.profile.picture }}">			
			</div>
			<div class="col-md-8">
				<div class="aboutTxt">
					<p>{{contest.contestContent}}</p>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-3">
			<img src="http://placehold.it/200x200">
		</div>		
		<div class="col-md-3">
			<img src="http://placehold.it/200x200">
		</div>		
		<div class="col-md-3">
			<img src="http://placehold.it/200x200">
		</div>		
		<div class="col-md-3">
			<img src="http://placehold.it/200x200">
		</div>
	</div> -->
</div>