<!--<p ng-bind-html="contest.contestContent"></p>-->
<div class="container"> 
	<div class="row">
		<div class="col-md-12">
			<div class="spacing-25"></div>
			<div class="sponsor-banner"></div>
		</div>
	</div>
	<div class="row">
		<div class="spacing-25"></div>
		<div class="sponsor-container">
			<div class="col-md-4">
				<img class="sponsorPicLarge" ng-src="{{ contest.user.profile.picture }}">			
			</div>
			<div class="col-md-8">
				<div class="aboutTxt">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae consequat sem. Aliquam viverra varius pellentesque. Fusce commodo vel magna ut posuere. Vivamus fringilla eros nec erat tincidunt porta. Proin sem justo, posuere quis sapien quis, ultrices laoreet enim. Integer ac nulla est. Pellentesque tempus sagittis sem in tristique. Maecenas vitae consequat massa, ut feugiat elit.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img src="http://placehold.it/200x200">
		</div>		
		<div class="col-md-3">
			<img src="http://placehold.it/200x200">
		</div>		
		<div class="col-md-3">
			<img src="http://placehold.it/200x200">
		</div>		
		<div class="col-md-3">
			<img src="http://placehold.it/200x200">
		</div>
	</div>
</div>