


<div style="margin-left:10%">
	<div ng-show="!currentUser">
		<a href="/login">login</a> or <a href="/register">register</a> to upload
	</div>
	<div ng-show="currentUser">
		<h1>upload</h1>
		<form ng-submit="createVideo(newVideo)">
			<p>Title</p>
			<input type="text" ng-model="newVideo.title"/>
			<p>Amazon URL</p>
			<input type="text" ng-model="newVideo.amazonUrl"/>
			<p>Description</p>
			<textarea ng-model="newVideo.description"></textarea>
			<br>
			<button type="submit">Upload Video</button>
		</form>


	    <!--<div class="button" ngf-select="upload($files)" ngf-multiple="true">Select File</div>-->
	    <!--Drop File:-->
		
	    <!--<div ngf-drop ngf-select ng-model="files" class="drop-box" 
	        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">Drag and drop</div>
	    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>-->
		
		<div style="width:100%;" ngf-drop ngf-select="upload($files)" ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true">
			<div>Drag videos or click here to upload.</div>
			
			
			<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			

		</div>
		
		
		
		
	    Files: 
	    <ul>
	        <li ng-repeat="f in files" style="font:smaller">{{fileName}} {{f.$error}} {{f.$errorParam}}</li>
	    </ul>
	    Upload Progress:
		
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{pp}}%;">
				{{pp}}%
			</div>
		</div>
		
		<!--{{console.log(log);}}-->


	</div>

</div>