<link href="http://vjs.zencdn.net/5.8.0/video-js.css" rel="stylesheet">
<div class="surface-container home-pad">

	<div class="contestsTitleContainer">
		<h1 class="contentTitleLetters">{{contest.title}}</h1>
	</div>

	<div class="container contestContainer">

		<div class="sponsoredByContainer col-md-6 col-lg-6">
			<p class="sponsorText sponsorTitle" >Sponsored By</p>
			<a href="/api/user/{{contest.user.id}}"><img class="sponsorPic" src="images/silhouette_orange.jpg"></a>
			<p>
				<a class="sponsorName" href="/api/user/{{contest.user.id}}">{{contest.user.username}}</a>
				on {{contest.createdAt | date: "shortDate"}}
			</p>
		</div>

		<div ng-show="currentUser.id == contest.user.id" class="editContestContainer col-md-6 col-lg-6">
			<p class="sponsorText sponsorTitle editContestTitle">Edit Contest</p>
			<form ng-submit="updateContest(contest)">
				<div class="editTitleAndUrl">
					<div class="updateTitle">
						<p class="editPropertiesTitle">Update Title</p>
						<input class="editPropertiesInput" type="text" ng-model="contest.title"/>
					</div>
					<div class="updateUrl">
						<p class="editPropertiesTitle">Update URL</p>
						<input class="editPropertiesInput" type="text" ng-model="contest.urlTitle"/>
					</div>
				</div>
				<p class="editPropertiesTitle">Update Content</p>
				<textarea class="editPropertiesInput editProperitesTextArea" ng-model="contest.contestContent"></textarea>
				<button class="updateContestButton" type="submit">Update Contest</button>
			</form>
		</div>

		<div ng-show="currentUser.id != contest.user.id" class="editContestContainer col-md-6 col-lg-6">
			<h1>{{contest.title}}</h1>
			<p ng-bind-html="contest.contestContent"></p>
		</div>

	</div>
	
	<div class="contestsTitleContainer submissionsTitleContainer">
		<h1 class="contentTitleLetters">Submissions</h1>
	</div>
		
	<div class="container">
		<div class="contestVideos" ng-repeat="video in contest.videos">
			<h1>{{video.title}}</h1>
			<video ng-src="{{ getUrl(video.urlTitle) }}" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264" vjs-video>
				<source type="video/mp4">
			</video>
		</div>
	</div>

</div>