<uib-tabset active="active">
	<uib-tab heading="Profile">
		<div class="container">
		  <div class="dashboard-title">
			<div class="spacing-50"></div>
		    <div class="bidio-profile">
		        <img align="left" class="bidio-image-lg" src="http://www.placehold.it/1500x500?text=profile banner" alt="Profile Banner"/>
		        <img align="left" class="bidio-image-profile thumbnail" src="{{profile.picture}}" alt="Profile Pic"/>
				<div class="tabs-profile">
					<label for="tab1" title="Member">Subscribers</label>
					<label for="tab2" title="View Count">Views</label>
				</div>
		        <div class="bidio-profile-text">
		            <h2 align="left" class="bidio-orange font_weight_bold">{{member.username}}</h2>
		            <hr>
		            <div class="spacing-15"></div>
		            <p>{{profile.description}}</p>
		        </div>
		    </div>
		    <div class="spacing-50"></div>
		  	<div class="row">
		  		<div class="col-xs-12">
		  			<div>
			  			<ul>
							<li ng-if="profile.firstName">
							  <p><b>First Name</b>&nbsp;{{profile.firstName}}</p>
							</li>
							<hr>
							<li ng-if="profile.lastName">
							  <p><b>Last Name</b>&nbsp;{{profile.lastName}}</p>
							</li>
							<hr>
							<li ng-if="profile.companyName && profile.companyUrl">
							  <p><b>Company</b>&nbsp;<a target="_blank" href="{{profile.companyUrl}}">{{profile.companyName}}</a></p>
							</li>
							<li ng-if="member.socialAccounts.facebook.profileUrl">
								<a href="{{member.socialAccounts.facebook.profileUrl}}">
									<div class="md-whiteframe-4dp connect_social_accounts">
										<i class="fa fa-facebook"></i>
										<img class="profile_pic_border" ng-src="{{member.socialAccounts.facebook.profilePic}}">
										{{member.socialAccounts.facebook.displayName}}
									</div>
								</a>
							</li>
							<br>
							<li ng-if="member.socialAccounts.google.profileUrl">
								<a href="{{member.socialAccounts.google.profileUrl}}">
									<div class="md-whiteframe-4dp google_plus">
										<i class="fa fa-google-plus"></i>
										<img class="profile_pic_border" ng-src="{{member.socialAccounts.google.profilePic}}">
										{{member.socialAccounts.google.displayName}}
									</div>
									</a>
							</li>
							<br>
							<li ng-if="member.socialAccounts.twitter.profileUrl">
								<a href="{{member.socialAccounts.twitter.profileUrl}}">
									<div class="md-whiteframe-4dp twitter_button">
										<i class="fa fa-twitter"></i>
										<img class="profile_pic_border" ng-src="{{member.socialAccounts.twitter.profilePic}}">
										{{member.socialAccounts.twitter.displayName}}
									</div>
									</a>
							</li>
			  			</ul>
			  		</div>
		  		</div>
		  	</div>
		  </div>
		</div>
	</uib-tab>

	<uib-tab heading="Videos">
		<div class="spacing-25"></div>
		<div ng-show="videos.length == 0">
			{{member.username}} doesn't have any videos
		</div>
		<div class="dashboardVideos col-xs-12 col-sm-12 col-md-6 col-lg-6 margin_top_25" ng-repeat="video in videos">
	    	<h2 class="bidio-orange video_amazone_url"><a ui-sref="video({id: video.id})">{{video.title}}</a></h2>
	    	<video class="video-js vjs-default-skin padding_25 bidio_display_block" src="{{video.amazonUrl}}" controls preload="none" width="640" height="264" poster="{{video.poster}}" vjs-video>
	    	</video>
	  	</div>
	</uib-tab>

	<uib-tab heading="Campaigns">
		<div class="spacing-25"></div>
		<div class="campaigns_margins">
			<div ng-show="campaigns.length == 0">
				{{member.username}} doesn't have any campaigns
			</div>
			<div ng-repeat="campaign in campaigns" class="col-md-12">
				<h2><a href="/campaign/{{campaign.urlTitle}}">{{campaign.title}}</a></h2>
			</div>
		</div>
	</uib-tab>


</uib-tabset>
<div class="spacing-50"></div>
<div class="clear_both"></div>
<div class="spacing-50"></div>