<link href="http://vjs.zencdn.net/5.8.0/video-js.css" rel="stylesheet">
<uib-tabset active="active">
	<uib-tab heading="Profile">
		<div id="main-container">
		  <div class="dashboard-title col-xs-12 col-sm-6 col-sm-push-2">
		  	<div class="row">
		  		<div class="col-xs-12 col-sm-5">
		  			<img style="width:75%;" ng-src="{{profile.picture}}">
		  		</div>
		  		<div class="spacing-25"></div>
		  		<div class="col-xs-12 col-sm-7">
		  			<p class="profile-title">{{member.username}}</p>
		  			<p class="profile-description">{{profile.description}}</p>
		  			<br><br>
		  			<ul>
						<li ng-if="profile.firstName">
						  <p><b>First Name</b>&nbsp;{{profile.firstName}}</p>
						</li>
						<br>
						<li ng-if="profile.lastName">
						  <p><b>Last Name</b>&nbsp;{{profile.lastName}}</p>
						</li>
						<br>
						<li ng-if="profile.companyName && profile.companyUrl">
						  <p><b>Company</b>&nbsp;<a target="_blank" href="{{profile.companyUrl}}">{{profile.companyName}}</a></p>
						</li>
						<li ng-if="member.socialAccounts.facebook.profileUrl">
							<a href="{{member.socialAccounts.facebook.profileUrl}}"><p>member's facebook</p></a>
						</li>
						<li ng-if="member.socialAccounts.google.profileUrl">
							<a href="{{member.socialAccounts.google.profileUrl}}"><p>member's google+</p></a>
						</li>
						<li ng-if="member.socialAccounts.twitter.profileUrl">
							<a href="{{member.socialAccounts.twitter.profileUrl}}"><p>member's twitter</p></a>
						</li>
		  			</ul>
		  		</div>
		  	</div>
		  </div>
		</div>
	</uib-tab>

	<uib-tab heading="Videos">
		<div class="spacing-25"></div>
		<div ng-show="videos.length == 0">
			{{member.username}} doesn't have any videos
		</div>
		<div class="dashboardVideos col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="video in videos" style="margin-top: 25px;">
	    	<h2 class="bidio-orange" style="font-size: 2.5em;margin-bottom: 15px;font-weight: bold;"><a ui-sref="video({id: video.id})">{{video.title}}</a></h2>
	    	<video style="display:inline-block;padding: 25px;" class="video-js vjs-default-skin" src="{{video.amazonUrl}}" controls preload="none" width="640" height="264" poster="images/zaxbys.png" vjs-video>
	    	</video>
	  	</div>
	</uib-tab>

	<uib-tab heading="Campaigns">
		<div class="spacing-25"></div>
		<div style="margin-left:10%;margin-right:10%;">
			<div ng-show="campaigns.length == 0">
				{{member.username}} doesn't have any campaigns
			</div>
			<div ng-repeat="campaign in campaigns" class="col-md-12">
				<h2><a ui-sref="campaign.about({path: campaign.urlTitle})">{{campaign.title}}</a></h2>
			</div>
		</div>
	</uib-tab>


</uib-tabset>
<div class="spacing-50"></div>
<div style="clear:both"></div>
<div class="spacing-50"></div>

<div ng-include="'footer/index.tpl.html'"></div>

