<ol class="breadcrumb marginBottom0">
	<li>
		<a href="/admin">Admin Panel</a>
	</li>
	<li class="active">Bids</li>
</ol>

<div class="admin-content-wrapper" layout-padding>
	<div class="admin-content">
		<h1>Bids</h1>
		<div class="admin-panels">
			<div class="row">
				<div class="col-md-6 col-sm-6 margin-bottom-30">
					<div class="panel panel-default">
						<div class="panel-heading">
							Data Visualization -- Phase 2
						</div>
						<canvas height="120" id="admin-line-chart" width="500"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>