<div class="row height_100Pre">
    <div class="form-wrapper">
        <div class="form-container">
            <h2 class="welcome">Welcome to Bidio!</h2>
            <div class="spacing-15"></div>
            <form class="form ng-pristine ng-valid" role="form" action="/auth/local/register" method="post" _lpchecked="1">
                <label for="inputEmail3" class="col-sm-2 control-label"></label>
                <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email" value="">
                <label for="inputUsername3" class="col-sm-2 control-label"></label>
                <input type="text" class="form-control" id="inputUsername3" name="username" placeholder="Username" value="">
                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password" value="">
                <button type="submit" id="login-button">Sign Up</button>
                <div class="spacing-15"></div>
                <ul class="social-icons icon-rotate list-unstyled link_wrapper">
                    <li class="social_icon">
                        <i ng-click="go('/auth/facebook')" class="fa fa-facebook"></i>
                    </li>
                    <li class="social_icon">
                        <i ng-click="go('/auth/google')" class="fa fa-google-plus"></i>
                    </li>
                    <li class="social_icon">
                        <i ng-click="go('/auth/twitter')" class="fa fa-twitter"></i>
                    </li>
                </ul>
            </form>
            <a href="/login" class="account_message"><h3>Already have an account?</h3></a>
        </div>
        <div class="spacing-25"></div>
        <div class="spacing-50"></div>
    </div>
</div>
<style type="text/css">
    .video-footer {
        width: 100%;
        height: 150px;
        background: #101010;
        border-top: 5px solid #FE9A2E;
    }
</style>
<div ng-include="'footer/index.tpl.html'" class="video-footer"></div>