<link href="http://vjs.zencdn.net/5.8.0/video-js.css" rel="stylesheet">
<div class="campaignsTitleContainer">
	<h1 class="contentTitleLetters">{{video.title}}</h1>
</div>
<div class="campaign-desc clearfix" ng-show="video.campaign">
	<p>{{video.campaign.title}}</p>
	<a ng-click="clickThrough()">{{video.campaign.prompt}}&nbsp;<i class="fa fa-caret-right"></i></a>
</div>

<div class="video-container">
	<video 
		src={{video.amazonUrl}}
		class="video-js vjs-default-skin"
		controls preload="auto" 
		width="640" 
		height="264" 
		fluid="true"
		poster="images/bidio_logo.png" 
		vjs-video
		vjs-media="media"
		vjs-setup="options"
		vjs-ratio="16:9">
	</video>
</div>

<div id="video-details" class="container" style="padding-top:25px"> 
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			<p><b>Posted by</b>: <a href="member/{{video.user.username}}">{{video.user.username}}</a></p>
			<p><b>Views</b>: {{video.viewCount}}</p>

		<!--<p ng-show="video.campaign"><b>$/click</b>: ${{video.campaign.price | number: 2 }}</h3>
			<p><b>bid: $/click</b>: ${{highestBid.value}}-->
		</div>
		<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
			<p>{{video.description}}</p>
			<div class="spacing-50"></div>
			<button ng-hide="!currentUser" class="btn" ng-click="bid()" style="float:left">Make Bid</button>
			<a href="#" class="btn anim-button fl-l" style="float:right">share</a>
		</div>
	</div>	

	<p>show public bids?</p>

	
</div>
