<div class="container" style="text-align:left">
    <div class="spacing-25"></div>
    <div class="row">
        <div class="col-md-4">
            <h1>market</h1>
        </div>
        <div class="col-md-8">
            <div class="discover-search">
                <div class="input-group">
                    <input class="search-query form-control" ng-model="newLookup.tokenIdentifier" id="search-link" size="40" type="text" placeholder="Token">
                    <span class="input-group-btn">
                        <button class="btn" type="button" ng-click="tokenLookup()">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="spacing-25"></div>
    <h2 ng-click="bid()">+ bid</h2>
    <div class="spacing-10"></div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>member</th>
                <th>asset set</th>
                <th>asset set</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders">
                <td><a href="member/{{order.args._member}}">{{order.args._member}}</a></td>
                <td>[<a href="market/{{order.args._orderExchangeIdentifier}}">{{order.args._orderExchangeAmount}} token[{{order.args._orderExchangeIdentifier}}]</a>]</td>
                <td>[{{order.args._orderExchangeAmount1}} <a href="market/cre8coin">cre8coin</a>]</td>
            </tr>
        </tbody>
    </table>
</div>