.campaignsTitleContainer {
    text-align: left;
    padding: 50px 0px;
}
.contentTitleLetters{
    font-weight: 700;
    font-size: 2vw;
}
p.campaignsInfoText{
	padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}
.campaignsInfoInput{
	font-size: 25px;
	width: 100%;
}
button.createCampaignButton {
    padding: 25px;
    margin-top: 25px;
    width: 30%;
    background: #faa93f;
    border: 0px solid white;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: 500;
}
img.sponsorPic{
	height: 1.25em;
    padding-top: 5px;
}

img.sponsorPicLarge{
    width: 50%;
}
.campaignContainer {
    padding-top: 50px;
	padding-bottom: 50px;
}
p.sponsorText {
    text-align: center;
    padding-bottom: 25px;
}
p.sponsorText.sponsorTitle {
    font-weight: 500;
    font-size: 25px;
    color: #555555;
}
/*.editCampaignContainer{
	height: 250px;
}*/
p.sponsorText.sponsorName.ng-binding {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #ccc;
	margin-left: 150px;
	margin-right: 150px;
}
p.editPropertiesTitle {
    text-align: center;
    padding-bottom: 25px;
}
input.editPropertiesInput {
    margin-bottom: 25px;
    width: 100%;
    padding: 2px;
	text-align: center;
}
p.dateTitle {
    padding-bottom: 25px;
    text-align: center;
}
a.sponsorName {
    font-size: 16px;
}
.editTitleAndUrl {
    display: -webkit-box;
}
.updateTitle {
	width: 50%;
}
.updateUrl{
	width: 50%;
}
textarea.editPropertiesInput.editProperitesTextArea {
    width: 100%;
    height: 78px;
    margin-bottom: 25px;
}
button.updateCampaignButton {
    padding: 10px;
    background: #faa93f;
    border: 0px solid white;
    border-radius: 5px;
    color: white;
    font-size: 19px;
    font-weight: 500;
}
.campaignsTitleContainer.submissionsTitleContainer {
    background: #ccc;
    background: #444;
}

.aboutTxt{
    line-height:2;
    padding: 0!important;
}

.aboutTxt p {
    font-size: 19px;
    line-height: 2;
    text-align: justify;
    padding-left: 50px;
}

.camp-about-title {
    font-weight: bold;
    text-align: right;
    font-size: 4.2em;
    padding: 15px;
}

.video-container {
    width: 35%;
    display: inline-block;
    padding-right: 15px;
}

.video-align-query {
    text-align: right;
}

.campaign-submit {
    display: inline-block!important;
    margin-bottom: 50px!important;
    float:none!important;
}

@media only screen and (max-width: 992px) {
    .video-container {
        width: 95%!important;
        margin-top:25px;
        margin-bottom:25px;
        display: inline-block;
        padding:15px;   
        float:none!important;
    }
    .aboutTxt p {
        font-size: 19px;
        line-height: 2;
        text-align: justify;
        padding: 0; 
    }
    img.sponsorPicLarge {
        width: 25%;
    }
    .camp-about-title {
        font-weight: bold;
        font-size: 4.2em;
        text-align: left;
        margin-top: 50px;
    }
    .video-align-query {
        text-align: center;
    }
    .sidenav-display-none {
        display:none!important;
    }
    .mobile-dashboard-nav {
        display: block!important;
    }
    .admin-page-wrapper {
        display: none!important;
    }
    .admin-page-wrapper-mobile {
        display: block!important;
    }
}

@media only screen and (min-width: 993px) {
    .mobile-dashboard-nav {
        display: none!important;
    }
    .admin-page-wrapper {
        display: block!important;
    }
    .admin-page-wrapper-mobile {
        display: none!important;
    }
}

@media only screen and (max-width: 750px) {
    .aboutTxt p {
        padding:15px;
        width: 100%;
        float: none!important;
    }
}

@media only screen and (max-width: 550px) {
    .contentTitleLetters {
        font-size: 6vw;
    }
    img.sponsorPicLarge {
        width: 50%;
    }
}

.video-js {
    max-width: 100%!important;
}

.campaign-desc{
    padding: 15px;
}

.campaign-desc>a, .campaign-desc>p{
    font-size: 24px;
    font-weight:700;
}

.campaign-desc>p{
    float: left;
}

.campaign-desc>a{
    float:right;
}

.campaign-tabs li {
    float: none;
    display: inline-block;
}

ul.campaign-listinfo {
    list-style-type: disc;
    display: table;
    margin: 0 auto;
    float: right;
}

.campaign-listinfo li {
    text-align: left;
}

.campaign-submit {
    float: right;
}

.campaign-submit a {
    font-size: 20px;
}

.sponsor-banner {
    background: url(http://placehold.it/1500x350?text=Banner);
    background-size:cover;
    width: 100%;
    height: 250px;
    padding: 25px 0;
}

.delete-btn {
    transition: color 0.3s;
}

.delete-btn:hover {
    color: #ff6644;
}

.delete-btn:hover ~ p {
    color: #ff6644;
}

.delete-btn ~ p {
    transition: color 0.3s;
}

.login-popup {
    padding:0;
}

.login-popup p {
    text-align:center;
}

.login-popup .btn {
    float: none;
}