.contestsTitleContainer {
    padding: 50px;
    background-color: #faa93f;
}
.contentTitleLetters{
	color:white;
    font-weight: bold;
}
p.contestsInfoText{
	padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}
.contestsInfoInput{
	font-size: 25px;
	width: 100%;
}
button.createContestButton {
    padding: 25px;
    margin-top: 25px;
    width: 30%;
    background: #faa93f;
    border: 0px solid white;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: 500;
}
img.sponsorPic{
    height: 1.25em;
    padding-top: 5px;
	
}
.contestContainer {
    padding-top: 50px;
	padding-bottom: 50px;
}
p.sponsorText {
    text-align: center;
    padding-bottom: 25px;
}
p.sponsorText.sponsorTitle {
    font-weight: 500;
    font-size: 25px;
    color: #555555;
}
/*.editContestContainer{
	height: 250px;
}*/
p.sponsorText.sponsorName.ng-binding {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #ccc;
	margin-left: 150px;
	margin-right: 150px;
}
p.editPropertiesTitle {
    text-align: center;
    padding-bottom: 25px;
}
input.editPropertiesInput {
    margin-bottom: 25px;
    width: 100%;
    padding: 2px;
	text-align: center;
}
p.dateTitle {
    padding-bottom: 25px;
    text-align: center;
}
a.sponsorName {
    font-size: 16px;
}
.editTitleAndUrl {
    display: -webkit-box;
}
.updateTitle {
	width: 50%;
}
.updateUrl{
	width: 50%;
}
textarea.editPropertiesInput.editProperitesTextArea {
    width: 100%;
    height: 78px;
    margin-bottom: 25px;
}
button.updateContestButton {
    padding: 10px;
    background: #faa93f;
    border: 0px solid white;
    border-radius: 5px;
    color: white;
    font-size: 19px;
    font-weight: 500;
}
.contestsTitleContainer.submissionsTitleContainer {
    background: #444;
}