@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

html :before,html :after {
    box-sizing: border-box;
    -webkit-transition: .5s;
    transition: .5s;
}

html i,html em,html b,html strong,html span {
    -webkit-transition: none;
    transition: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.bidio-orange {
    color:#FE9A2E
}

.home-desc a.desc-link {
    color:#FE9A2E
}

.home-desc a.desc-link:hover {
    text-decoration: underline!important;
}

@media(max-width:991px) {
    .home-video {
        max-width: 100%!important;
        max-height: 100%!important;
        padding-top: 50px;
    }
}

.home-video {
    position: relative;
    min-width: auto;
    min-height: auto;
    max-width: 50%;
    max-height: 50%;
}

.vid-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
    text-align: center;
    overflow: visible;
}

.network-name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
}

.bidio-nav {
	color: #eee
}

.featured-cover {
    padding: 50px 0;
}

.featured-cover h3 {
    text-align: right;
    font-size: 35px;
    line-height: 64px;
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    font-weight: 300;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.featured-cover strong {
    font-weight: 700;
}

.mobile {
	visibility:hidden
}

@media only screen and (max-width: 900px) {
h2 {
	font-size:45px
}
}

@media only screen and (max-width: 767px) {
h2 {
	font-size:35px
}

.home-buttons {
    display: block;
    margin-top: 5px;
    float: none!important;
    max-width: 75%!important;
    margin: 0 auto;
}
}

.box {
    -webkit-transition: none!important;
    transition: none!important;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

/*[class^="btn-"] {
    position: relative;
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 80px;
    max-width: 250px;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid currentColor;
}*/

.btn-intro{
    position: relative;
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 80px;
    max-width: 250px;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid currentColor;
}

.btn-full{
    position: relative;
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 80px;
    max-width: 100%;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid currentColor;
}

.btn-5 {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    zoom:0.75;
}

.btn-5:after {
    z-index: -1;
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0;
    border-color: transparent #FE9A2E transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-5:before {
    z-index: -1;
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0;
    border-color: transparent transparent transparent #FE9A2E;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn-5:hover {
    color: #fff;
}

.btn-5:hover:before,.btn-5:hover:after {
    border-width: 80px 262.5px;
}

.btn-5:active {
    background: #a7972b;
}

.btn-6 {
    color: black;
    font-weight: 700;
    font-size: 20px;
    zoom:0.75;
}

.btn-6:after {
    z-index: -1;
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0;
    border-color: transparent #FE9A2E transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.btn-6:before {
    z-index: -1;
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0;
    border-color: transparent transparent transparent #FE9A2E;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn-6:hover {
    color: black;
}

.btn-6:hover:before,.btn-5:hover:after {
    border-width: 80px 262.5px;
}

.btn-6:active {
    background: #a7972b;
}

.videoCard{
    box-shadow: 2px 2px 10px #999;
    overflow: hidden;
    padding-left:0px;padding-right:0px;
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

 .block
  {
    position: relatve;
    width: 200px;
    height: 200px;
    margin: 5% auto;
  }

  .shape{
    width: 100px;
    height: 100px;
  }

  .cube{
    position: relative;
    transition:transform .5s;
    transform-style: preserve-3d;
  }

  .cube.outer{
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: spin 4s infinite cubic-bezier(.67,.03,.31,.98);
  }

  .cube.outer > .cube{
    width: 100px;
    height: 100px;
    transform: translateX(50px) translateY(50px);
    animation: spin-inner 4s infinite cubic-bezier(.67,.03,.31,.98);
  }

  .side{
    position: absolute;
    width: 100%;
    height: 100%;
    /*backface-visibility: hidden;*/
    
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    opacity: .9;
    transition: all .2s linear;
    border: 3px solid #fff;
    
    background: rgba(255,255,255, 0.1);
    box-shadow: inset 0 0 100% 0 rgba(255, 255, 255, .1);
    box-sizing: border-box;
  }

  .outer > .cube .side {  
    background: rgba(255, 255, 255, 0.05);
  }

  .side.left{
    transform: translateX(-50px) rotateY(-90deg);  
  }

  .cube.outer > .side.left{
    transform: translateX(-100px) rotateY(-90deg);  
  }

  .side.right{
    transform: translateX(50px) rotateY(90deg);  
  }

  .cube.outer > .side.right{
    transform: translateX(100px) rotateY(90deg);  
  }

  .side.top{ 
    transform: translateY(-50px) rotateX(90deg);  
  }

  .cube.outer > .side.top{
    transform: translateY(-100px) rotateX(90deg);  
  }

  .side.bottom{ 
    transform: translateY(50px) rotateX(-90deg);  
  }

  .cube.outer > .side.bottom{
    transform: translateY(100px) rotateX(-90deg);  
  }

  .side.front{
    transform: translateZ(50px); 
  }

  .cube.outer > .side.front{
    transform: translateZ(100px);  
  }

  .side.back{  
    transform: translateZ(-50px) rotateX(180deg);
  }

  .cube.outer > .side.back{
    transform: translateZ(-100px) rotateX(180deg); 
  }


  .side-black{
    position: absolute;
    width: 100%;
    height: 100%;
    /*backface-visibility: hidden;*/
    
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    opacity: .9;
    transition: all .2s linear;
    border: 3px solid #000;
    
    //background: rgba(255,255,255, 0.1);
    box-shadow: inset 0 0 100% 0 rgba(255, 255, 255, .1);
    box-sizing: border-box;
  }

  .outer > .cube .side-black {  
    background: rgba(255, 255, 255, 0.05);
  }
  .side-black.left{
    transform: translateX(-50px) rotateY(-90deg);  
  }

  .cube.outer > .side-black.left{
    transform: translateX(-100px) rotateY(-90deg);  
  }

  .side-black.right{
    transform: translateX(50px) rotateY(90deg);  
  }

  .cube.outer > .side-black.right{
    transform: translateX(100px) rotateY(90deg);  
  }

  .side-black.top{ 
    transform: translateY(-50px) rotateX(90deg);  
  }

  .cube.outer > .side-black.top{
    transform: translateY(-100px) rotateX(90deg);  
  }

  .side-black.bottom{ 
    transform: translateY(50px) rotateX(-90deg);  
  }

  .cube.outer > .side-black.bottom{
    transform: translateY(100px) rotateX(-90deg);  
  }

  .side-black.front{
    transform: translateZ(50px); 
  }

  .cube.outer > .side-black.front{
    transform: translateZ(100px);  
  }

  .side-black.back{  
    transform: translateZ(-50px) rotateX(180deg);
  }

  .cube.outer > .side-black.back{
    transform: translateZ(-100px) rotateX(180deg); 
  }


  

  @keyframes spin {  
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    33.333% {
      transform: rotateX(-35deg) rotateY(-45deg);
    }
    66.666% {
      transform: rotateX(-35deg) rotateY(45deg);
    }  
    100% {
      transform: rotateX(0deg) rotateY(0deg);
    }
  }

  @keyframes spin-inner {
    0% {
      transform: translateX(50px) translateY(50px) rotateY(0deg) rotateX(90deg);
    }
    33.333% {
      transform: translateX(50px) translateY(50px) rotateY(90deg) rotateX(90deg);
    }
    66.666% {
      transform: translateX(50px) translateY(50px) rotateY(-90deg) rotateX(90deg);
    }
    100% {
      transform: translateX(50px) translateY(50px) rotateY(0deg) rotateX(90deg);
    }
  }

